n8n-workflows/youtube-to-shorts-workflow.json
{
  "name": "Zuke Video Shorts Creator - Decoupled Architecture",
  "nodes": [
    {
      "parameters": {
        "path": "video-shorts-webhook",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "webhookId": "video-shorts-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/process",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.ZUKE_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "youtube_url",
              "value": "={{ $json.youtube_url }}"
            },
            {
              "name": "num_clips",
              "value": "={{ $json.num_clips || 3 }}"
            },
            {
              "name": "output_types",
              "value": "={{ $json.output_types || ['subtitled'] }}"
            },
            {
              "name": "auto_approve",
              "value": "={{ $json.auto_approve || true }}"
            },
            {
              "name": "webhook_url",
              "value": "={{ $webhookUrl }}/results"
            }
          ]
        },
        "options": {}
      },
      "name": "Send to API Gateway",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [400, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "pending"
            }
          ]
        }
      },
      "name": "Check if Queued",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"job_id\": $json.job_id,\n  \"status\": $json.status,\n  \"message\": \"Video processing started - you will receive results via webhook\",\n  \"debug_info\": {\n    \"architecture\": \"Frontend -> n8n -> API Gateway -> Video Processor\",\n    \"flow\": \"decoupled_microservices\"\n  }\n} }}"
      },
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [800, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": false,\n  \"error\": \"Failed to queue job\",\n  \"details\": $json\n} }}"
      },
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [800, 400]
    },
    {
      "parameters": {
        "path": "results",
        "options": {}
      },
      "name": "Results Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 600],
      "webhookId": "results-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "completed"
            }
          ]
        }
      },
      "name": "If Processing Completed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [400, 600]
    },
    {
      "parameters": {
        "jsCode": "// Process the video output files for further distribution\nconst outputFiles = $input.all()[0].json.output_files || [];\n\nconst processedResults = {\n  job_id: $input.all()[0].json.job_id,\n  status: $input.all()[0].json.status,\n  total_clips: outputFiles.length,\n  clips: [],\n  urls: []\n};\n\n// Process each clip\nfor (const clip of outputFiles) {\n  const clipData = {\n    clip_number: clip.clip_number,\n    duration: clip.end_time - clip.start_time,\n    start_time: clip.start_time,\n    end_time: clip.end_time,\n    content_preview: clip.content ? clip.content.substring(0, 100) + '...' : '',\n    files: clip.files.map(file => ({\n      filename: file.filename,\n      url: file.url,\n      type: file.type,\n      size: file.size\n    }))\n  };\n  \n  processedResults.clips.push(clipData);\n  \n  // Collect all URLs for easy access\n  clip.files.forEach(file => {\n    processedResults.urls.push(file.url);\n  });\n}\n\nreturn { processedResults };"
      },
      "name": "Process Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 500]
    },
    {
      "parameters": {
        "channel": "C12345678",
        "text": "🎬 Video Shorts Generated Successfully!\n\n📊 **Results Summary:**\n• Job ID: {{ $json.processedResults.job_id }}\n• Total Clips: {{ $json.processedResults.total_clips }}\n• Architecture: Decoupled (Frontend → n8n → API Gateway → Processor)\n\n🎯 **Clips Generated:**\n{{ $json.processedResults.clips.map(clip => \n`• Clip ${clip.clip_number}: ${clip.duration}s (${clip.files.length} files)`\n).join('\\n') }}",
        "attachments": []
      },
      "name": "Notify Success (Slack)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [800, 500]
    },
    {
      "parameters": {
        "channel": "C12345678",
        "text": "❌ **Video Processing Failed**\n\n• Job ID: {{ $json.job_id }}\n• Error: {{ $json.error_message }}\n• Architecture: Decoupled microservices\n• Component: {{ $json.message.includes('Processor') ? 'Video Processor' : 'API Gateway' }}",
        "attachments": []
      },
      "name": "Notify Failure (Slack)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [800, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $json.forward_webhook_url || 'https://webhook.site/your-endpoint' }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "success",
              "value": "true"
            },
            {
              "name": "job_id",
              "value": "={{ $json.processedResults.job_id }}"
            },
            {
              "name": "clips_generated",
              "value": "={{ $json.processedResults.total_clips }}"
            },
            {
              "name": "download_urls",
              "value": "={{ $json.processedResults.urls }}"
            },
            {
              "name": "architecture_note",
              "value": "Processed via decoupled microservices architecture"
            }
          ]
        }
      },
      "name": "Forward to External System",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1000, 500]
    },
    {
      "parameters": {
        "subject": "Video Shorts Generated - {{ $json.processedResults.job_id }}",
        "toEmail": "recipient@example.com",
        "text": "Your video shorts have been generated successfully using our decoupled architecture!\n\n🏗️ Architecture Flow:\nFrontend → n8n → API Gateway (Port 8000) → Video Processor (Port 8001)\n\n📊 Results:\n• Job ID: {{ $json.processedResults.job_id }}\n• Clips Generated: {{ $json.processedResults.total_clips }}\n• Total Files: {{ $json.processedResults.urls.length }}\n\n📁 Download Links:\n{{ $json.processedResults.urls.join('\\n') }}\n\nThis decoupled approach allows for easy debugging, scaling, and integration with other systems.",
        "options": {}
      },
      "name": "Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1000, 600]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Send to API Gateway",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to API Gateway": {
      "main": [
        [
          {
            "node": "Check if Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Queued": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Results Webhook": {
      "main": [
        [
          {
            "node": "If Processing Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Processing Completed": {
      "main": [
        [
          {
            "node": "Process Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Failure (Slack)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Results": {
      "main": [
        [
          {
            "node": "Notify Success (Slack)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Forward to External System",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "description": "Decoupled architecture workflow: Frontend → n8n → API Gateway → Video Processor. This allows for easy debugging, monitoring, and future integrations."
  },
  "versionId": "2"
}